.THEME_NAME {
  &.md-spinner {
    .md-spinner-path {
      stroke: #{'ACCENT-PRIMARY'};
    }

    &.md-accent {
      .md-spinner-path {
        stroke: #{'ACCENT-SECONDARY'};
      }
    }

    &.md-warn {
      .md-spinner-path {
        stroke: #{'ACCENT-WARN'};
      }
    }
  }
}
