.tdl-scroll-tab {
  display: inline;
  flex-wrap: nowrap;
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;

  .md-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 110px;
    margin: 0;
    padding: 0;
    margin-right: 0;
    white-space: normal;

    &.md-primary {
      &.tdl-tab-button {
        margin-right: 0 !important;
      }
    }
  }
}
