$tdl-app-bar-brand-logo-height: 17px;
$tdl-drawer-brand-logo-height: 22px;
$tdl-default-sidenav-margin: 16px;
$tdl-img-avatar-height: 64px;
$md-default-margin: 8px;
$max-width: 960px;
$tdl-app-bar-z-index: 4;
$tdl-app-bar-height: 56px;
$tdl-error-mobile-width: 600px;
$tdl-drawer-light-background: #fafafa;
$tdl-drawer-dark-background: #424242;
$tdl-drawer-light-text-color: rgba(0,0,0,0.87);
$tdl-drawer-dark-text-color: rgba(255,255,255,0.87);
$tdl-drawer-dark-avatar-color: #f3f3f3;
$tdl-drawer-dark-over-color: rgba(0,0,0,0.86);
$tdl-drawer-light-over-color: rgba(0,0,0,0.04);
$tdl-drawer-logo-color: #757575;
$tdl-interstitial-background: #383B40;
$external-service-font-color: #6B6B6B;
$dialogs-border: #E0E0E0;
$brand: #00ACC1;
$text-contrast-87: rgba(0, 0, 0, 0.87);
$text-contrast-54: rgba(0, 0, 0, 0.54);
$text-contrast-38: rgba(0, 0, 0, 0.38);
$content-breakpoint: 720px;

