/*  Text and Titles
   ========================================================================== */
.md-label {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
}

.md-caption {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
}

.md-body-1 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.md-body-2 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.md-subheading-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.md-subheading-2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.md-subheading {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.md-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 28px;
}

.md-headline {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
}

.md-display-1 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
}

.md-display-2 {
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 48px;
}

.md-display-3 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -.005em;
  line-height: 60px;
}

.md-display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -.01em;
  line-height: 120px;
}
/*  Links & Buttons
   ========================================================================== */
a:not(.md-button):not(.md-bottom-bar-item) {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  &:focus {
    outline: none;
  }
}
