@import '../../core/stylesheets/variables.scss';

.typeahead-list {
  display: flex;
  flex-grow: 1;

  &__input-container {
    display: flex;
    flex: 1 1 auto;
  }

  &__input {
    flex-grow: 1;

    &--with-hint {
      max-width: calc(100% - 48px);
    }
  }

  &__search-hint {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__item-list {
    z-index: 131;
    border-radius: 2px;
    box-shadow: $material-shadow-2dp;
    opacity: 0;
    display: none !important;
    transition: opacity 0.3s $swift-ease-in-timing-function;
    will-change: opacity;

    &--loading {
      display: none !important;
    }

    &--active {
      opacity: 1;
      display: flex !important;
      position: fixed !important;
      overflow-y: scroll;
      padding: 0;
    }
  }

  &__results-subtitle {
    padding: 24px 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__results-item {
    &--top {
      order: -1;
    }

    &--bottom {
      order: 1;
    }

    &--creatable {
      .md-button {
        padding: 0;
      }
    }
  }
}

.typeahead-list__item-list--active {
  overflow-y: hidden;

  & > div {
    overflow-y: scroll;
  }
}
