@import '../../core/stylesheets/variables.scss';

.tdl-tab-bar-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  
  @media(min-width: $breakpoint-small) {
    /* Added this hack to prevent the missalignment of the tabs that comes from the
    toolbar container at the app bar. */
    margin-left: -8px;
  }
  
  .tdl-tab-bar {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    
    @media(max-width: $breakpoint-small) {
      /* Added this hack to prevent the missalignment of the tabs that comes from the
      toolbar container at the app bar. */
      left: -8px;
    }
    
    .tdl-tab-bar-indicator {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      transform: translateZ(0);
      will-change: left, right;
      
      &.tdl-tabs-indicator-left {
        transition: left .3s cubic-bezier(.4, 0, .2, 1),
        right .35s cubic-bezier(.4, 0, .2, 1);
      }
      
      &.tdl-tabs-indicator-right {
        transition: right .3s cubic-bezier(.4, 0, .2, 1),
        left .35s cubic-bezier(.4, 0, .2, 1);
      }
    }
  }
}
